extends ../base.pug

block content
    video(src="/"+video.fileUrl,controls) 
    div
        p=video.description
        small=video.createdAt
    small=video.hashtags.join(" ")
    div
        a(href=`${video.id}/edit`) Edit Video &rarr;
    a(href=`${video.id}/delete`) Delete Video &rarr;
    