extends ../base

block content
    if(errormessage)
        h1=errormessage
    img(src="/"+loggedInUser.avatarUrl, width="100", height="100")
    form(method="POST",enctype="multipart/form-data")
        label(for="avatar") Avatar 
        input(type="file", id="avatar", name="avatar", accept = "image/*")
        input(name="name", type="text", placeholder="Name",value=loggedInUser.name )
        input(name="email", type="email", placeholder="Email",value=loggedInUser.email )
        input(name="username", type="text", placeholder="UserName",value=loggedInUser.username )
        input(name="location", type="password", placeholder="Location",value=loggedInUser.location)
        input(type="submit", value="Update Profile" )
        hr
        a(href="change-password") Chansge Password &rarr; 
